<!DOCTYPE html>
<html lang="en">
<html ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIS550 Project</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <!-- Include your custom css file here if you're making one -->
  </head>

  <body>
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand center">CIS550 Project</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/homevalues">Home Values</a>
          <a class="nav-item nav-link" href="/rentalprices">Rental Prices</a>
          <a class="nav-item nav-link" href="/homevalues">Rental vs. Sale Prices</a>
          <a class="nav-item nav-link active" href="/generalquery">Rental vs. Price-to-Rent ratio</a>
        </div>
      </div>
    </nav>

    <!-- All metros Content -->
    <div class="container user-container" ng-controller="homeValuesController">
      <div class="jumbotron">
        <div class="h5">All U.S. Metros and their IDs</div>
        <!-- Display the users -->
        <table class="table" id="metro_table">
          <tr> <th>#</th> <th>Metro name</th> <th>Metro ID</th> </tr>
          <tr ng-repeat = "metro in dynamic(cursor) track by $index">
            <th>{{metro[0]}}</th>
            <th>{{metro[1]}}</th>
            <th>{{metro[2]}}</th>
          </tr>
        </table>
        <button type="button" class="rec-button" name="prev" ng-click="prev()">Prev</button>
        <button type="button" class="rec-button" name="next" ng-click="next()">Next</button>
      </div>
    </div>

    <div class="container user-container" ng-controller="homeValuesIdSearchController">
      <div class="jumbotron">
        <input type="text" class="input metroName" placeholder="(partial) name of metro" ng-model="metroName" />
        <button type="button" class="rec-button" name="findMetroId" ng-click="getMetroId(metroName)">Get Metro ID</button>
        <table class="table" id="metro_ids">
          <tr> <th>#</th> <th>Metro name</th> <th>Metro ID</th> </tr>
          <tr ng-repeat = "metro in metroIds">
            <th>{{metro[0]}}</th>
            <th>{{metro[1]}}</th>
            <th>{{metro[2]}}</th>
          </tr>
        </table>
      </div>
    </div>

    <!-- Sample Content. You can either use this or make your own -->
    <div class="container user-container" ng-controller="sqlControllerOne">
      <div class="jumbotron">
        <label>arg 1:</label>
        <input type="text" class="input metroID1" placeholder="arg 1" ng-model="arg1" /> <br>
        <label>arg 2:</label>
        <input type="text" class="input metroID1" placeholder="arg 2" ng-model="arg2" /> <br>
      </div>
    
      <center>
        <button type="button" class="button_bottom" name="findId" ng-click="queryOne()"><span>Plot</span></button>
      </center>
    </div>
    <div id="plot" class="center_plt" style="width:600px;height:500px;"></div>
    
    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>